*{
	box-sizing: border-box;
}

html, body{
	min-height: 100vh;
	margin: 0;
}

img{
	max-width: 200%;
}

.quotes{
	display: block;
}

div > div{
	width: 250px;
	height: 250px;
	padding-bottom: 800px;
}

.h1{
	padding-top: 100px
}

.active{
	background: pink;
}